.wizard-step {
    display: flex;
    flex-direction: column;
    height: 550px;
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

.wizard-step .wrapped-component {
    flex: 1;
}

.wizard-step .wizard-actions {
    align-self: flex-end;
}

/*TODO : make it resposive*/
.create-member-step {
    width: 550px;
}

.member-card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    flex-direction: column;
}

.member-card {
    position: relative;
    background-image: url("/images/membership_card.jpg");
    color: #FFF;
    border-radius: 5px;
    width: 380px;
    height: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px 24px;
    background-size: 100% 100%;
}

.card-type {
    position: absolute;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    width: 90px;
    text-align: center;
    font-size: 12px;
    top: 40px;
    right: 0;
    padding: 3px;
    color: #6e6659;
}

.card-type-1 {
    background: #EEE;
}

.card-type-2 {
    background: yellow;
}

.card-type-3 {
    background: blue;
}

.member-card-id {
    text-align: center;
    color: #111;
    font-size: 14px;
    margin-left: 16px;
    align-self: flex-start;
}

.member-card-name {
    text-align: center;
    font-weight: bold;
    color: #111;
    font-size: 18px;
    margin-left: 16px;
    margin-bottom: 0;
    align-self: flex-start;
}

.member-list {
    padding: 16px 8px;
}

.member-list .member-list-item {
    padding: 8px;
    background: #EEE;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow-wrap: break-word;
    margin: 12px 0;
}

.member-list .member-list-item div {
    margin: 0 8px;
}

.member-list .member-list-item .member-avatar {
    display: flex;
    width: 150px;
}

.member-list .member-list-item .member-id {
    width: 60px;
}

.member-list .member-list-item .member-avatar .member-avatar {
    width: 32px;
    height: 32px;
}

.member-list .member-list-item .member-avatar .member-info {
    display: flex;
    align-items: center;
}

.member-list .member-list-item .member-phone {
    width: 180px;
}

.member-list .member-list-item .member-email {
    width: 180px;
}

.member-list .member-list-item .member-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.page .page-container {
    display: flex;
    margin-top: 24px;
}

.page .page-container .vertical-separator {
    width: 40px;
    background: transparent;
}

.page .page-container .page-menu {
    padding: 16px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 220px;
    border-radius: 3px;
}

.page .page-container .page-menu .page-menu-option {
    font-size: 18px;
    color: #1C2055;
    padding: 8px 16px;
    margin: 8px 0;
    transition: background .3s ease-in;
    border-radius: 5px;
}

.page .page-container .page-menu .page-menu-option.active {
    background: #1C2055;
    color: #FFFFFF;
}

.page .page-container .page-menu .page-menu-option:hover:not(.active) {
    background: #4698A4;
    color: #FFFFFF;
}

.page .page-container .option-content {
    padding: 16px;
}

.page .page-container .option-content {
    background: #FFFFFF;
    flex: 1;
}

.detail-item {
    display: flex;
    margin: 16px 0;
    justify-content: center;
}

.detail-item span:nth-child(1) {
    width: 140px;
    background: #0653F4;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 3px;
}

.detail-item span:nth-child(2) {
    flex: 1;
    margin-left: 16px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #777777;
}

.member-file-list {

}

.file-list-item {
    margin: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 3px;
}

.file-list-item > p {
    font-size: 16px;
    margin: 0;
}

.file-list-item:nth-child(odd) {
    background: #EEE;
}