.wizard-step {
    display: flex;
    flex-direction: column;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.wizard-step .wrapped-component {
    flex: 1;
}

.wizard-step .wizard-actions {
    align-self: flex-end;
}

.member-card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    flex-direction: column;
}

.member-card {
    background: #343434;
    color: #FFF;
    border-radius: 5px;
    width: 380px;
    height: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
}

.member-card-id {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.member-card-name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.member-list {
    padding: 16px 8px;
}

.member-list .member-list-item {
    padding: 8px;
    background: #EEE;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow-wrap: break-word;
    margin: 12px 0;
}

.member-list .member-list-item div {
    margin: 0 8px;
}

.member-list .member-list-item .member-avatar {
    display: flex;
    width: 150px;
}

.member-list .member-list-item .member-id {
    width: 60px;
}

.member-list .member-list-item .member-avatar .member-avatar {
    width: 32px;
    height: 32px;
}

.member-list .member-list-item .member-avatar .member-info {
    display: flex;
    align-items: center;
}

.member-list .member-list-item .member-phone {
    width: 180px;
}

.member-list .member-list-item .member-email {
    width: 180px;
}

.member-list .member-list-item .member-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.page .page-container {
    display: flex;
    margin-top: 24px;
}

.page .page-container .vertical-separator {
    width: 40px;
    background: transparent;
}

.page .page-container .page-menu {
    padding: 16px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 220px;
    border-radius: 3px;
}

.page .page-container .page-menu .page-menu-option {
    font-size: 18px;
    color: #1C2055;
    padding: 8px 16px;
    margin: 8px 0;
    transition: background .3s ease-in;
    border-radius: 5px;
}

.page .page-container .page-menu .page-menu-option.active {
    background: #1C2055;
    color: #FFFFFF;
}

.page .page-container .page-menu .page-menu-option:hover:not(.active) {
    background: #4698A4;
    color: #FFFFFF;
}

.page .page-container .option-content {
    padding: 16px;
}

.page .page-container .option-content {
    min-height: 75vh;
    background: #FFFFFF;
    flex: 1;
}

.detail-item {
    display: flex;
    margin: 16px 0;
    justify-content: center;
}

.detail-item span:nth-child(1) {
    width: 140px;
    background: #0653F4;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 3px;
}

.detail-item span:nth-child(2) {
    flex: 1;
    margin-left: 16px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #777777;
}
