* {
    padding: 0;
    margin: 0;
}

body {
    background: #eee;
    font-family: "Tajawal", sans-serif;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.ui.header {
    font-family: 'Source Sans Pro', sans-serif;
}

.redux-toastr .toastr .close-toastr{
    height: 60% !important;
}